.contact-form-container {
  background-color: white;
  color: grey;
  padding: 20px;
}
.contact-form-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .contact-form-container {
    padding: 5px;
  }
}
